{% extends 'base.html.twig' %}

{% block title %}RO MON{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block body %}
    <form id="horna-tab-form" data-zaznam-id="">
        <div class="row" id="navbar">
            <div class="col" id="den">
                <select name="den" title="DÁTUM" id="datum" class="selectpicker search-control">
                    <option selected value="-1"></option>
                    {% for datum in datumy %}
                        <option value="{{ datum }}">{{ datum }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col" id="linka">
                <!--label Linka-->
                <select class="selectpicker shadow-sm linka search-control" data-width="100%" title="LINKA" name="linka" disabled>
                    <option selected value="-1"></option>
                    <option value="HC">HC</option>
                    <option value="MV">MV</option>
                </select>
            </div>
            <div class="col" id="uep">
                <select class="selectpicker show-menu-arrow shadow-sm uep search-control" data-width="100%" title="UEP" name="uep"
                        disabled>
                    <option selected value="-1"></option>
                    <option value="HC1">HC1</option>
                    <option value="HC2">HC2</option>
                    <option value="HC3">HC3</option>
                    <option value="HC4">HC4</option>
                </select>
            </div>
            <div class="col" id="zmena">
                <select class="selectpicker shadow-sm zmena search-control" data-width="100%" title="Zmena" name="zmena" disabled>
                    <option selected value="-1"></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="col">
                <input id="nadcas" class="form-control nadcas" title="Nadcas" name="nadcas" placeholder="Nadčas"
                       disabled/>
            </div>
        </div>

        <div class="row" id="telo">
            <div class="col" id="Dochadzka">
                <div class="row karta" id="kartaDochadzka"></div>
                <div class="telo">
                    <div class="riadok">
                        <div class="col-7 clear"></div>
                        <div class="col">
                            <h5>Monitor</h5>
                        </div>
                        <div class="col">
                            <h5>Operátor</h5>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div>Suma pracovnikov</div>
                        </div>
                        <div class="col">
                            <input class="form-control" name="suma_pracovnikov_monitor"/>
                        </div>
                        <div class="col">
                            <input class="form-control" name="suma_pracovnikov_operator"/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div>PN + Lekár</div>
                        </div>
                        <div class="col">
                            <input class="form-control" name="pn_lekar_monitor"/>
                        </div>
                        <div class="col">
                            <input class="form-control" name="pn_lekar_operator"/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div>Dovolenka + NV</div>
                        </div>
                        <div class="col">
                            <input class="form-control" name="dovolenka_nv_monitor"/>
                        </div>
                        <div class="col">
                            <input class="form-control" name="dovolenka_nv_operator"/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div>Suma Iné</div>
                        </div>
                        <div class="col">
                            <input class="form-control" name="ine_monitor"/>
                        </div>
                        <div class="col">
                            <input class="form-control" name="ine_operator"/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div>Školenie</div>
                        </div>
                        <div class="col">
                            <input class="form-control" name="skolenie_monitor"/>
                        </div>
                        <div class="col">
                            <input class="form-control" name="skolenie_operator"/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div>Požičaný (preč)</div>
                        </div>
                        <div class="col">
                            <input class="form-control" name="pozicany_monitor"/>
                        </div>
                        <div class="col">
                            <input class="form-control" name="pozicany_operator"/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div>Vypožičaný</div>
                        </div>
                        <div class="col">
                            <input class="form-control" name="vypozicany_monitor"/>
                        </div>
                        <div class="col">
                            <input class="form-control" name="vypozicany_operator"/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div>Nadčas z 2 zmeny</div>
                        </div>
                        <div class="col">
                            <input class="form-control" name="nadcas_2_zmeny_monitor"/>
                        </div>
                        <div class="col">
                            <input class="form-control" name="nadcas_2_zmeny_operator"/>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary shadow-sm myBtn mt-3" type="submit">Potvrď</button>
                </div>
            </div>
            <div class="col" id="RO">
                <div class="row karta" id="kartaRO"></div>
                <div class="telo">
                    <div class="riadok" style="margin-top: .4rem;">
                        <div class="col-12">
                            <div>Zastavenia FAB</div>
                        </div>
                        <div class="col-2">
                            <input class="form-control" name="zastavenia_int_fab"/>
                        </div>
                        <div class="col-10">
                            <input class="form-control" name="zastavenia_text_fab"/>
                        </div>
                        <div class="col-12">
                            <div>údržba</div>
                        </div>
                        <div class="col-2">
                            <input class="form-control" name="udrzba_int"/>
                        </div>
                        <div class="col-10">
                            <input class="form-control" name="udrzba_text"/>
                        </div>
                        <div class="col-12">
                            <div>Logistika</div>
                        </div>
                        <div class="col-2">
                            <input class="form-control" name="logistika_int"/>
                        </div>
                        <div class="col-10">
                            <input class="form-control" name="logistika_text"/>
                        </div>

                        <div class="col-12">
                            <div>Saturácia</div>
                        </div>
                        <div class="col-2">
                            <input class="form-control" name="saturacia_int"/>
                        </div>
                        <div class="col-10">
                            <input class="form-control" name="saturacia_text"/>
                        </div>

                        <div class="col-12">
                            <div>Nedostatok</div>
                        </div>
                        <div class="col-2">
                            <input class="form-control" name="nedostatok_int"/>
                        </div>
                        <div class="col-10">
                            <input class="form-control" name="nedostatok_text"/>
                        </div>
                    </div>

                    <button class="btn btn-outline-primary shadow-sm myBtn mt-3">Potvrď</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
