<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Formular{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link type="text/css" rel="stylesheet" href="{{ asset('build/vendor.css') }}">

    {% block stylesheets %}{% endblock %}
</head>

<body>


{% block body %}{% endblock %}

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">RO MON <a href="https://groupe-psa.com">GROUPE PSA</a></span>
    </div>
</footer>


<script type="text/javascript" src="{{ asset('build/manifest.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
